* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: $white;
  font-family: $font-alata;
  font-weight: 400;
}

h1,
h2,
h3,
h4 {
  font-family: $font-josefin;
  font-weight: 300;
}

.display {
  font-size: 2rem;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.container {
  padding-right: 10px;
  padding-left: 10px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
