#header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  //   box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  color: #fff;
  background: transparent;
  width: 100%;
  padding: 0px;
  height: 100px;
  z-index: 999;

  .logo {
    width: 150px;
    margin-left: 20px;
    z-index: 999;
  }
}

#nav-bar ul {
  display: flex;
  align-items: center;
}

#nav-bar li {
  list-style: none;
}

#nav-bar a {
  color: #fff;
  text-decoration: none;
  margin: 30px 20px;
  padding: 10px;
  letter-spacing: 3px;
  font-size: 1.2rem;
}

#nav-bar ul li a:hover {
  border-bottom: 3px solid hsl(0, 0%, 100%);
}
#nav-bar .navbar-toggler {
  display: none;
}

@media (max-width: 800px) {
  #nav-bar {
    padding: 0;
  }

  #nav-bar a {
    color: #fff;
    text-decoration: none;
    line-height: 2;
    margin: 0 40px;
    letter-spacing: 3px;
    font-size: 1.8rem;
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    font-weight: 300;
  }

  #nav-bar ul {
    position: absolute;
    top: 0px;
    left: 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    background-color: hsl(0, 0%, 0%);
    /* height: auto; */
    height: 100vh;
    max-height: 0;
    overflow: hidden;
    transition: all ease-in-out 0.3s;
  }
  #nav-bar ul.open {
    max-height: 100vh;
  }
  #nav-bar ul li {
    width: 100%;
    /* border-bottom: 1px solid rgba(255,255,255,0.3); */
  }
  #nav-bar ul li a {
    padding: 0;
  }
  #nav-bar .navbar-toggler {
    display: block;
    position: absolute;

    top: 37px;
    right: 15px;
    background-color: transparent;
    color: #fff;
    border: none;
    /* border-radius: 4px; */
    outline: none;
    padding: 10px 10px;
    cursor: pointer;
  }

  #nav-bar .navbar-toggler span,
  #nav-bar .navbar-toggler span::before,
  #nav-bar .navbar-toggler span::after {
    display: block;
    content: '';
    background-color: #fff;
    height: 3px;
    width: 28px;
    border-radius: 4px;
    transition: all ease-in-out 0.3s;
  }
  #nav-bar .navbar-toggler span::before {
    transform: translateY(-8px);
  }
  #nav-bar .navbar-toggler span::after {
    transform: translateY(5px);
  }

  #nav-bar .navbar-toggler.open-navbar-toggler span {
    background-color: transparent;
  }

  #nav-bar .navbar-toggler.open-navbar-toggler span::before {
    transform: translateY(0px) rotate(45deg);
  }
  #nav-bar .navbar-toggler.open-navbar-toggler span::after {
    transform: translateY(-3px) rotate(-45deg);
  }
}
