@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');

$white: hsl(0, 0%, 100%);
$Black: hsl(0, 0%, 0%);
$DarkGray: hsl(0, 0%, 55%);
$DarkerGray: hsl(0, 0%, 41%);
$font-alata: 'Alata', sans-serif;
$font-josefin: 'Josefin Sans', sans-serif;
